#miniTip {
    background-color: #262626;
	max-width: 250px;
	color: #fff;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	margin: 50 0 0 50;
	border-radius: 3;
	opacity: .95;
	border: 4px solid #000;
}

#miniTip_a {
	width: 0; 
	height: 0;
	position: absolute;
}

#miniTip .bottom {
	border-left: 8px solid transparent; 
	border-right: 8px solid transparent;
	border-top: 8px solid #000;
	border-bottom: 0;
	top: 78;
	left: 121;
}

#miniTip .top {
	border-left: 8px solid transparent; 
	border-right: 8px solid transparent;
	border-bottom: 8px solid #000;
	border-top: 0;
	top: -12;
	left: 121;
}

#miniTip .left {
	border-bottom: 8px solid transparent; 
	border-top: 8px solid transparent;
	border-right: 8px solid #000;
	border-left: 0;
	top: 31;
	left: -12;
}

#miniTip .right {
	border-bottom: 8px solid transparent; 
	border-top: 8px solid transparent;
	border-left: 8px solid #000;
	border-right: 0;
	top: 31;
	left: 254;
}

#miniTip_t {
	padding: 4 6;
	background-color: #191919;
	font-weight: bold;
}

#miniTip_c {
	padding: 6px;
}