/*! miniTip CSS - v1.6.0 */
#miniTip {
    background-color: #21252d;
    color: #fff;
    font-size: .9em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#miniTip_t {
    padding: 4px 6px;
}
#miniTip_c {
    padding: 8px 12px;
}
#miniTip_a {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0
}
#miniTip .n {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #eae4b4;
    border-bottom: 0
}
#miniTip .s {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #21252d;
    border-top: 0;
}
#miniTip .e {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 8px solid #eae4b4;
    border-left: 0
}
#miniTip .w {
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-left: 8px solid #eae4b4;
    border-right: 0
}